.node {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.land {
  background-image: url("../../assets/grass.png");
  background-position: center;
  background-repeat: no-repeat;
}
.water {
  background-image: url("../../assets/water.png");
  background-position: center;
  background-repeat: no-repeat;
}
.plant {
  background-image: url("../../assets/plants.png");
  background-position: center;
  background-repeat: no-repeat;
}
.rabbit {
  background-image: url("../../assets/rabbit.svg"),
    url("../../assets/grass.png");
  background-position: center;
  background-repeat: no-repeat;
}
.fox {
  background-image: url("../../assets/fox.svg"), url("../../assets/grass.png");
  background-position: center;
  background-repeat: no-repeat;
}
.visited {
  background-color: coral;
}
